/.env
/error.log
/in_stock.csv
/main - Kopya.py
/remove.txt
/removed_dupes.xlsx
/removed_dupes1.xlsx
/vita_oos_26.03.24.csv
/output.csv
/yd.py
/27.03.24.txt
data gg.json
outputs
new.csv
removed_data.json
data yeni.json
Output_2024.5.14.csv
data2.json